
<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Testing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css">
  <link rel="stylesheet" href="https://material.angularjs.org/1.1.5/docs.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body ng-app="MyApp" layout="row" ng-cloak>
  <!--
    Your HTML content here
  -->  

  <div ng-controller="AppCtrl" layout="column"  ng-cloak="" class="sidenavdemoBasicUsage">

  <section layout="row" flex="">
    <div ng-controller="CtrlApp" layout="row" ng-cloak=""> 
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" style="width: 250px; max-width: 250px;">

      <md-toolbar class="md-theme-indigo">

        <h1 class="md-toolbar-tools" style="background-color: #C62828; height: 200px; max-height: 200px;">
          <a style="color:inherit" ng-href="./index.html"/> <img src="./acm-logo.png" style="margin:auto">
        </h1>
      </md-toolbar>
      <md-content layout-padding="" ng-controller="LeftCtrl" >
        
       
        <!--<p hide="" show-gt-md="">
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>-->
        
        <md-content class="md-padding">
    <ul style="list-style-type: none" flex="">
      <md-list flex="">
        <a style="color:inherit" ng-href="./index.html">
      <md-list-item ng-click="goto('page1')" name="page1">
        Page One
      </md-list-item>
    </a>
      <a style="color:inherit" ng-href="./page2.html">
        <md-list-item ng-click="goto('page2')" name="page2">
        Page Two
      </md-list-item>
    </a>
      <a style="color:inherit" ng-href="./page3.html">
      <md-list-item ng-click="goto('page3')" name="page3">
        Page Three
      </md-list-item>
    </a>
    </md-list>
    </ul>

      </md-content>
    </md-content>

    </md-sidenav>

    <md-content flex="" layout-padding="">

      <div layout="row" layout-align="top center">
        <md-button ng-click="toggleLeft()" class="md-icon-button md-primary" aria-label="Settings" hide-gt-md="">
            <i class="material-icons">view_headline</i>
          </md-button>
        <p>
        Info of page 1
        </p>
        <div>
          
        </div>
      </md-content>
       </div> 
  </section>

</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->




  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
        angular
  .module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
  .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.toggleLeft = buildDelayedToggler('left');
    $scope.toggleRight = buildToggler('right');
    $scope.isOpenRight = function(){
      return $mdSidenav('right').isOpen();
    };

    /**
     * Supplies a function that will continue to operate until the
     * time is up.
     */
    function debounce(func, wait, context) {
      var timer;

      return function debounced() {
        var context = $scope,
            args = Array.prototype.slice.call(arguments);
        $timeout.cancel(timer);
        timer = $timeout(function() {
          timer = undefined;
          func.apply(context, args);
        }, wait || 10);
      };
    }

    /**
     * Build handler to open/close a SideNav; when animation finishes
     * report completion in console
     */
    function buildDelayedToggler(navID) {
      return debounce(function() {
        // Component lookup should always be available since we are not using `ng-if`
        $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
      }, 200);
    }

    function buildToggler(navID) {
      return function() {
        // Component lookup should always be available since we are not using `ng-if`
        $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
      };
    }
  })
  .controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.close = function () {
      // Component lookup should always be available since we are not using `ng-if`
      $mdSidenav('left').close()
        .then(function () {
          $log.debug("close LEFT is done");
        });

    };
  })
  .controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.close = function () {
      // Component lookup should always be available since we are not using `ng-if`
      $mdSidenav('right').close()
        .then(function () {
          $log.debug("close RIGHT is done");
        });
    };
  })
  .controller('CtrlApp', CtrlApp);

  function CtrlApp($scope) {
    $scope.currentNavItem = 'page1';

    $scope.goto = function(page) {
      console.log("Goto " + page);
    }
  }

  ;


/**
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
**/
  </script>
 
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->

